<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Legends Only - Login</title>
</head>
<body>
    <h3>
        Don't even think about clicking
        <a href="https://www.strava.com/oauth/authorize?client_id=32278&response_type=code&redirect_uri=http://legends-only.herokuapp.com/exchange-token&approval_prompt=force&scope=read">here</a>
        if you aren't a legend.
    </h3>
    <br>
    You might be seeing this page after authorizing because this application didn't pick up the access code Strava sent back. If that's the case, try to log in again.
    <br><br>
    Thanks to Chang for the app idea!
</body>
</html>